<template>
  <button :class="className" :disabled="disabled" @click="setPlayerChoice(opt)">
    {{ opt }}
  </button>
</template>

<script>
export default {
  props: ["opt", "setPlayerChoice", "active", "disabled"],
  computed: {
    className() {
      return this.active ? "active" : "";
    }
  }
};
</script>


<style scoped>
button {
  height: 60px;
  width: 60px;
  margin: 10px;
  font-size: 32px;
  background: white;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background: #efefef;
}

button:disabled {
  cursor: default;
  background: white;
}

button:disabled:not(.active) {
  opacity: 0.5;
}

.active {
  transform: scale(1.5);
}
</style>
