<template>
  <div class="game">
    <Roulette />
    <div class="options">
      <Button
        v-for="opt in options"
        v-bind="{ opt, setPlayerChoice, active: isActive(opt), disabled }"
        :key="opt"
      />
    </div>
  </div>
</template>

<script>
import { options } from "../lib/match";
import Roulette from "./Roulette.vue";
import Button from "./Button.vue";
import { mapGetters } from "vuex";

export default {
  data() {
    return { options };
  },
  computed: {
    disabled() {
      return this.$store.state.gameRunning;
    }
  },
  methods: {
    setPlayerChoice(option) {
      const { rouletteStopped } = this.$store.state;

      if (rouletteStopped) {
        this.$store.commit("setPlayerChoice", option);
        this.$store.commit("toggleGameRunning", true);
        this.$store.commit("toggleRoullete", false);
      }
    },
    isActive(option) {
      return option === this.$store.state.playerChoice;
    }
  },
  components: {
    Roulette,
    Button
  }
};
</script>

<style scoped>
.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.2)), floralwhite;
}

.options {
  display: flex;
  justify-content: space-between;
}
</style>
