<template>
  <div class="root" :style="style">
    <h1>
      {{result == null ? (
        "JOKENPO!"
      ) : result === "WIN" ? (
        "YOU WIN!"
      ) : result === "LOOSE" ? (
        "YOU LOOSE!"
      ) : (
        "YOU DRAW!"
      )}}
    </h1>

    <div class="outcome" v-if="result === 'WIN'">
      <p>{{ playerChoice }} <span>&gt;</span> {{ computerChoice }}</p>
    </div>
    <div class="outcome" v-if="result === 'LOOSE'">
      <p>{{ playerChoice }} <span>&lt;</span> {{ computerChoice }}</p>
    </div>
    <div class="outcome" v-if="result === 'DRAW'">
      <p>{{ playerChoice }} <span>&#61;</span> {{ computerChoice }}</p>
    </div>

    <div class="actions">
      <button @click="play">PLAY{{ result ? " AGAIN" : "" }}!</button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  computed: {
    ...mapState(["modalOpened", "playerChoice", "computerChoice"]),
    ...mapGetters(["result"]),
    style() {
      return this.modalOpened ? { opacity: 1 } : { opacity: 0, pointerEvents: "none" };
    }
  },
  methods: {
    play() {
      this.$store.dispatch("playGame");
    }
  }
};
</script>

<style scoped>
.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: opacity 0.3s ease;
}

h1 {
  font-size: 48px;
}

h1,
h2,
p {
  margin: 0 0 32px;
}

.outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outcome h2 {
  margin-top: 0;
}

.outcome p {
  font-size: 32px;
  font-weight: 700;
  background: white;
  color: black;
  display: block;
  padding: 16px 32px;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}

.outcome p span {
  margin: 0 16px;
}

button {
  color: white;
  font-weight: 700;
  font-size: 32px;
  border: 5px solid;
  background: none;
  padding: 4px 16px;
  cursor: pointer;
}
</style>
