<template>
  <div class="options" @click="stopRoulette()">
    <div class="wrapper">
      <div v-for="opt in opts" :key="opt" class="option">{{ opt }}</div>
      <div class="option"></div>
    </div>
  </div>
</template>

<script>
import { options } from "../lib/match";

export default {
  data() {
    return { opts: options };
  },
  mounted() {
    this.unsubscribe = this.$store.subscribe(({ type, payload: stopped }) => {
      if (type === "toggleRoullete" && !stopped) this.startRoulette();
    });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
  methods: {
    stopRoulette() {
      this.$store.commit("toggleRoullete", true);
    },
    startRoulette() {
      const wrapper = document.querySelector(".wrapper");
      const opts = [...document.querySelectorAll(".option")];

      for (const i in opts) opts[i].style.order = i;

      wrapper.addEventListener("transitionend", _ => (wrapper.style.transition = ""), false);

      let total = 300;
      let index = 0;
      let start = performance.now();

      const tick = now => {
        const elapsed = now - start;
        const progress = elapsed / total;
        const position = progress * 5 * 160;

        wrapper.style.transform = `translateY(-${position}px)`;

        if (position >= (index + 1) * 160) {
          if (index === 3) {
            opts[5].style.order = -1;
            opts[0].style.order = 5;
          }

          if (index === 4) {
            opts[5].style.order = 5;
            opts[0].style.order = 0;
            index = 0;
            start = performance.now();
          } else {
            index++;
          }
        }

        if (this.$store.state.rouletteStopped) {
          total = total + 3;

          if (total >= 600) {
            const optionIndex = +wrapper.style.transform.replace(/[^\d.]/g, "");
            const selected = Math.floor(optionIndex / 160);
            const filtered = selected === 5 ? 0 : selected;

            wrapper.style.transition = "transform .3s ease-out";
            wrapper.style.transform = `translateY(-${selected * 160}px)`;

            this.$store.dispatch("showResults", options[filtered]);

            return;
          }
        }

        requestAnimationFrame(tick);
      };

      requestAnimationFrame(tick);
    }
  }
};
</script>

<style scoped>
.options {
  height: 160px;
  width: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  transition-property: transform;
  transition-duration: 0;
  transition-timing-function: linear;
}

.option {
  padding-top: 0.75rem;
  height: 160px;
  width: 160px;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  pointer-events: none;
}
</style>
