<template>
  <div>
    <Game />
    <Modal />
  </div>
</template>

<script>
import Game from "./components/Game.vue";
import Modal from "./components/Modal.vue";

export default {
  components: { Game, Modal }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}
</style>
